@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import 'materialize';

$pink:#FFDAE0;
$lightblue:#D1EEEE;
$lightgray:#dedede;

.card.small .card-image {
	height:192px;
}

.card .card-image { top:-16px; }

.card .card-title {
	color:#555; 
	text-align:center; 
	text-transform:uppercase; 
	margin:0px;
	padding-bottom:10px;
	border-bottom:1px solid #dedede;
}

.card.small .card-action {
	border:none;
	margin:-12px;
	padding:12px 0px;
	text-align:right;
	position:static;
}

.age, .gender, .dog-link { 
	display:inline-block;
	text-align:center;
}

.male { background-color:$lightblue;}

.female { background-color:$pink; }

.age, .gender { 
   width:18%;
}

.gender {
	margin-left:-5px;
}

.age { background-color:$lightgray; }

.dog-link { width:60%; }

.age > p, .gender > p { font-size:18px; }




