$pink:#FFDAE0;
$lightblue:#D1EEEE;
$lightgray:#dedede;
$turq:#96CDCD;

@import url(http://fonts.googleapis.com/css?family=Lato:300);

* { box-sizing:border-box; }

html {
	width:100%;
	height:100%;
}

body { 
    font-family:Lato, sans-serif;  
    color:#666; 
}

p, div {
	padding:0px;
	margin:0px;
}

.container {
	width:90%;
	margin:0px auto 2% auto;
}

footer {
	width:80%;
	margin:0px auto;
	border:1px solid black;
}

/* INDEX */

.center {
	width:90%;
	margin:0px auto;
}

/*micro-clearfix*/
.center:after {
	content:"";
	display:table;
	clear:both;
}

@mixin box-shadow() {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); 
 }

.card {
	display:inline-block;
	height:300px;
	width:300px;
	postion:relative;
	border-radius:3px;
	margin:2% 2% 2% 0%;
	float:left;
	@include box-shadow; 

	.card-image {
		height:65%;
		overflow:hidden;
		border-radius:3px 3px 0px 0px;
		border-bottom:1px solid #999;
	}
}

.card-title { text-align:center; }

.card-title > p {
	font-size:2em;
	color:#666;
	text-transform:uppercase;
    margin:0px auto;
    text-align:center;
    padding:8px 0px;
}

.card-action { 
	height:20%; 
	border-top:1px solid #999;  
}

.age, .gender, .dog-link {
	display:inline-block;
	width:18%;
	padding:15px 0px;
	text-align:center;
	margin:0px;
	float:left;
}

.age { background-color:lightyellow; border-right:1px solid $lightgray;}

.gender { background-color:$lightblue; }

/*.male { background-color:$lightblue; border-right:1px solid $lightgray;}*/

/*.female { background-color:#DAC9FF; border-right:1px solid $lightgray;}*/

.dog-link {
	width:64%;
	background-color:#96CDCD;
}

table {
	margin-top:5%;
	border-radius:3px;
	width:100%;
	border-collapse:collapse;
}
 
tr, td {
	border-top: 2px solid $lightgray;
	border-bottom: 2px solid $lightgray;
	border-collapse:collapse;
	padding:0px;
	margin:0px;
}

input[type = "text"] {
	height:36px;
	width:50%;
	min-width:238px;
	max-width:400px;
	background-color:#f8f8f8;
	border:none;
	border-bottom:2px solid #96CDCD;
	font-size:16px;
}

::-webkit-input-placeholder { padding-left:10px; }

:-moz-placeholder { /* Firefox 18- */ padding-left:10px; }

::-moz-placeholder { /* Firefox 19+ */ padding-left:10px; }

:-ms-input-placeholder { padding-left:10px; }

input[type="submit"] {
	background-color:#96CDCD;
	height:36px;
	width:18%;
	min-width:100px;
	max-width:150px;
	border-radius:3px;
	border:none;
	vertical-align:top;
	margin-left:1%;
	font-size:16px;
	color:#666;
}

tr { height:80px;}

td { text-align:center; }

.left { text-align:left; }

.fifteen { width: 15%; }

.twenty-five { width:25%; }

.thirty-five { width:35%; }

.forty { width:40%; }

a { 
	text-decoration:none;
	color:#666;
 }

 /* SHOW PAGE */

.flex { 
	width:100%;
	float:left;
	border-radius:3px;
	@include box-shadow;
}

.img-show {
	margin:0px auto;
	float:left;
}

.img-contain {
	/* makes img stretchable */
	max-width: 100%;
  	height: auto;
}

h1.hello {
	text-align:center;
	background-color:$lightblue;
	padding:14px 0px 12px 0px;
}

.info {
	clear:both;
	margin:4%;
}

.stats { 
	height:40px;
	 td { text-align:left; }
}

.highlight-blue { background-color:$lightblue; }
.highlight-yellow { background-color:lightyellow; }
.highlight-turq td { 
	background-color:$turq; 
	text-align:center;
}

a.back-to {
	color:#444;
	text-transform:uppercase;
}

@media (min-width: 300px) and (max-width: 717px) {
  div.hide-xs { display:none;}
  ::-webkit-input-placeholder { font-size:14px; }
  :-moz-placeholder { /* Firefox 18- */ font-size:14px; }
  ::-moz-placeholder { /* Firefox 19+ */ font-size:14px; }
  :-ms-input-placeholder { font-size:14px; }
  input[type="submit"] { font-size:14px; }

}

@media (min-width: 718px) and (max-width: 1600px) {
   table.show-xs { display:none; }
}

@media (min-width: 1601px) {
   table.show-xs { display:none; }
 }

















